/* ? Импорт шрифта через Google Fonts API */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ? Дали всему документу шрифт через свойство font-family */
html {
  font-family: "Poppins", sans-serif;
}

/* ? Каждый элемент будет отсчитываться так:  */
/* ? margin -> border -> padding -> content */
* {
  box-sizing: border-box;
}

/* ? Переиспользуемые свойства, чтобы делать отступы по бокам */
.container {
  margin: 12px 96px;
  /* ? 12px - Y ( верх вниз ) 96px - X ( право лево ) */
}

.logo {
  color: purple;
  text-decoration: none;
  /* ? text-decoration - для того, чтобы убрать подчёркивание у ссылок */
  font-size: 32px;
  font-weight: 900;
}
/* ? :hover - свойства, которые будут при наведении */
.logo:hover {
  color: rgb(188, 10, 188);
}

.nav-link {
  margin: 0 12px 0 0;
  /* ? Отступы именно с правой стороны */
  /* ? Можно сделать так-же ещё так: */
  /* * margin-right: 12px; */
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(106, 106, 106);
}

/* 
* TRouBLe
* T - Top
* R - Right
* B - Bottom
* L - Left
*/
