/* ? Импорт шрифта через Google Fonts API */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ? Дали всему документу шрифт через свойство font-family */
html {
  font-family: "Poppins", sans-serif;
}

/* ? Каждый элемент будет отсчитываться так:  */
/* ? margin -> border -> padding -> content */
* {
  box-sizing: border-box;
}

/* ? Переиспользуемые свойства, чтобы делать отступы по бокам */
.container {
  margin: 12px 96px;
  padding: 42px 0;
}

.section {
  margin: 120px 96px;
}

.logo {
  color: purple;
  text-decoration: none;
  /* ? text-decoration - для того, чтобы убрать подчёркивание у ссылок */
  font-size: 32px;
  font-weight: 900;
}
/* ? :hover - свойства, которые будут при наведении */
.logo:hover {
  color: rgb(188, 10, 188);
}

.nav-link {
  margin-right: 12px;
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(106, 106, 106);
}

#hero-kotik {
  width: 464px;
  border-radius: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero div {
  width: 50%;
}

#scary-kotik {
  width: 464px;
  border-radius: 100%;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.about div {
  width: 50%;
  text-align: right;
}

#about-section {
  background-color: aliceblue;
}

.cta {
  width: 200px;
  height: 56px;
  margin-top: 12px;
  background-color: rgb(176, 255, 255);
  border: 0;
  border-radius: 26px;
  font-size: larger;
  color: rgb(0, 41, 52);
  cursor: pointer;
}

.cta:hover {
  background-color: rgb(173, 247, 247);
  border: 2px solid rgb(0, 208, 255);
}
.cta:active {
  background-color: rgb(59, 255, 255);
}

/* 
* TRouBLe
* T - Top
* R - Right
* B - Bottom
* L - Left
*/
